# Merge ETF data as a preprocessing
```
Yeonsik Jang
2019.04.15
```

In [2]:
import pandas as pd
import os
os.getcwd()
os.chdir('./data')

In [3]:
etf_list = pd.read_csv("etf_tickers_compressed.csv")
etf_list['ticker'] = etf_list['ticker'].str.replace("A","")
etf_list.tail()

    ticker                   name
66  183710            KBSTAR 주식혼합
67  183700            KBSTAR 채권혼합
68  185680     KODEX 미국S&P바이오(합성)
69  189400  ARIRANG 글로벌MSCI(합성 H)
70  192720             파워 고배당저변동성

In [6]:
df = pd.read_csv(etf_list['name'][0]+".csv")
df.tail()

            Date  KODEX 200
1265  2019-03-13    28015.0
1266  2019-03-14    28090.0
1267  2019-03-15    28415.0
1268  2019-03-18    28440.0
1269  2019-03-19    28410.0

In [11]:
for i in range(1,len(etf_list)-1):
    frame = pd.read_csv(etf_list['name'][i]+".csv")
    print("{}. {} has been read".format(i, etf_list['name'][i]))
    df = pd.merge(df,frame)
df.head()
# df.to_csv('ETFs_merged')

1. TIGER KRX100 has been read
2. TIGER 반도체 has been read
3. TIGER 은행 has been read
4. KODEX 자동차 has been read
5. TREX 중소형가치 has been read
6. TIGER 방송통신 has been read
7. KODEX China H has been read
8. KODEX 일본TOPIX100 has been read
9. KODEX 삼성그룹 has been read
10. KODEX 기계장비 has been read
11. KODEX 증권 has been read
12. KOSEF 블루칩 has been read
13. KOSEF 고배당 has been read
14. TIGER 라틴35 has been read
15. KBSTAR 5대그룹주 has been read
16. KINDEX 삼성그룹섹터가중 has been read
17. KODEX 에너지화학 has been read
18. TIGER 차이나항셍25 has been read
19. KODEX 건설 has been read
20. KODEX 철강 has been read
21. ARIRANG 코스피50 has been read
22. TIGER 원유선물Enhanced(H) has been read
23. KINDEX 삼성그룹동일가중 has been read
24. KODEX 골드선물(H) has been read
25. TIGER 미국나스닥100 has been read
26. TIGER 농산물선물Enhanced(H) has been read
27. KOSEF 미국달러선물 has been read
28. TIGER 삼성그룹펀더멘털 has been read
29. TIGER LG그룹+펀더멘털 has been read
30. TIGER 현대차그룹+펀더멘털 has been read
31. KODEX 구리선물(H) has been read
32. KODEX 콩선물(H) has been read
33. TIGER 경기방어 has been read
34. TIGER 200 경기소비재 has been read
35. TIGER 200 금융 has been read
36. TIGER 200 에너지화학 has been read
37. TIGER 200 IT has been read
38. TIGER 200 중공업 has been read
39. TIGER 200 철강소재 has been read
40. TIGER 금속선물(H) has been read
41. TIGER 금은선물(H) has been read
42. KBSTAR 수출주 has been read
43. KBSTAR 우량업종 has been read
44. KODEX 보험 has been read
45. KODEX 운송 has been read
46. 파워 코스피100 has been read
47. KINDEX 밸류대형 has been read
48. TIGER 헬스케어 has been read
49. TIGER 미국S&P500선물(H) has been read
50. KODEX 은선물(H) has been read
51. TREX 펀더멘탈 200 has been read
52. TIGER 모멘텀 has been read
53. TIGER 중국소비테마 has been read
54. KOSEF 200 선물 has been read
55. KODEX MSCI Korea has been read
56. TIGER 소프트웨어 has been read
57. TIGER 증권 has been read
58. ARIRANG 고배당주 has been read
59. TIGER 200커버드콜5%OTM has been read
60. KINDEX 중국본토CSI300 has been read
61. TIGER 구리실물 has been read
62. TIGER 베타플러스 has been read
63. KODEX 중국본토 A50 has been read
64. KBSTAR 중국본토대형주CSI100 has been read
65. TIGER 로우볼 has been read
66. KBSTAR 주식혼합 has been read
67. KBSTAR 채권혼합 has been read
68. KODEX 미국S&P바이오(합성) has been read
69. ARIRANG 글로벌MSCI(합성 H) has been read

,Date,KODEX 200,TIGER KRX100,TIGER 반도체,TIGER 은행,KODEX 자동차,TREX 중소형가치,TIGER 방송통신,KODEX China H,KODEX 일본TOPIX100,...,KINDEX 중국본토CSI300,TIGER 구리실물,TIGER 베타플러스,KODEX 중국본토 A50,KBSTAR 중국본토대형주CSI100,TIGER 로우볼,KBSTAR 주식혼합,KBSTAR 채권혼합,KODEX 미국S&P바이오(합성),ARIRANG 글로벌MSCI(합성 H)
0,2014-01-13,25630.0,42415.0,17725.0,8250.0,21305.0,7110.0,9240.0,15390.0,9725.0,...,11450.0,7910.0,11480.0,8230.0,7855.0,11840.0,29325.0,49705.0,12230.0,10255.0
1,2014-01-14,25595.0,42445.0,17630.0,8115.0,21350.0,7070.0,9215.0,15455.0,9580.0,...,11460.0,7920.0,11460.0,8285.0,7925.0,11730.0,29425.0,49785.0,12005.0,10180.0
2,2014-01-15,25670.0,42480.0,17450.0,8165.0,21440.0,7080.0,9225.0,15620.0,9640.0,...,11505.0,7965.0,11450.0,8315.0,7895.0,11755.0,29390.0,49735.0,12135.0,10230.0
3,2014-01-16,25790.0,42705.0,17605.0,8160.0,21370.0,7110.0,9195.0,15615.0,9660.0,...,11555.0,7965.0,11525.0,8375.0,7985.0,11810.0,29350.0,49780.0,12195.0,10280.0
4,2014-01-17,25550.0,42380.0,17635.0,8055.0,21200.0,7095.0,9150.0,15550.0,9635.0,...,11390.0,7970.0,11435.0,8195.0,7820.0,11780.0,29310.0,49695.0,12400.0,10275.0

In [12]:
df.to_csv('ETFs_merged')

In [14]:
df.to_excel('ETFs_merged.xlsx')